

.navbar {
    background-color: transparent;
}

.navbar  li >  a:after {
  height: 2px;
  background: #352961;
  content: "";
  position: absolute;
  bottom: 0;
}

.top-nav-collapse {
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: white;
        /* #395a8f */
    }
}

html {
  scroll-behavior: smooth;
}

html,
body,
header,
#welcome,
.view {
  height: 100%;
}

.main-background {
  background: url("../images/background/background.jpg") no-repeat center center;
  background-size: cover;
}

#domain {
  background: #9baec8;
  padding: 50px;
}

#wine {
	background: #d9e1e8;
  padding: 50px;
}

#oil {
	background: #d9e1e8;
  padding: 50px;
}

#lodge {
  background: #9baec8;
  padding: 50px;
}

#gallery {
	background: #d9e1e8;
  padding-top: 50px;
  padding-bottom: 20px;
}

#gallery .gallery-box {
  margin-bottom: 30px;
}

#google-map-area #map-container {
	position: relative;
  height: 580px;
  padding: 0px;
}

#contact {
  padding: 50px;
  background: #9baec8;
}

#contact .form-wrapper {
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#contact .form-title {
  margin-bottom: 50px;
}

#contact .form-control {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  line-height: 27px;
  font-size: 14px;
  color: #848484;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
}

#contact .form-control:focus {
  border-color: #282c37;
  box-shadow: none;
  outline: 0;
}

#contact .btn {
  margin: 0px;
  background-color: #d9e1e8 !important;
}

#copyright {
  background: #0b0b0b;
}

#copyright p {
  color: lightgrey;
  font-size: 12px;
  margin: 0;
}
