.main-background {
    background: url("../images/background/background.jpg") no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html,
body,
header,
.view {
    height: 100%;
}

#main-slide .carousel-indicators {
  cursor: pointer;
  bottom: 90px;
}

#main-slide .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


#main-slide .carousel-control {
  display: none;
  transition: all 0.3s ease-in-out;
}

#main-slide:hover .carousel-control {
  display: block;
  transition: all 0.3s ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


#main-slide .carousel-inner .carousel-item::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#main-slide .carousel-item .carousel-caption {
  opacity: 0;
  transition: opacity 100ms ease 0s;
  z-index: 0;
}

#main-slide .carousel-item .carousel-caption .heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

#main-slide .carousel-item .carousel-caption p {
  font-size: 20px;
}

#main-slide .carousel-item.active .carousel-caption {
  opacity: 1;
  transition: opacity 100ms ease 0s;
  z-index: 1;
}

#main-slide .carousel-caption {
  color: #fff;
  position: absolute;
  top: 35%;
}

#main-slide .carousel-control-prev,
#main-slide .carousel-control-next {
  top: 45%;
  position: absolute;
  z-index: 5;
}

#main-slide .carousel-control-prev {
  left: 15px;
}

#main-slide .carousel-control-next {
  right: 15px;
}


#main-slide .carousel-control i {
  line-height: 40px;
  font-size: 18px;
  width: 45px;
  border: 2px solid #fff;
  height: 45px;
  display: block;
  border-radius: 2px;
  background: transparent;
  color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

#main-slide .carousel-control i:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-color: #fff;
}

#domain {
  background: #9baec8;
  padding: 50px;
}

#wine {
	background: #d9e1e8;
  padding: 50px;
}

#lodge {
  background: #9baec8;
  padding: 50px;
}

#gallery {
	background: #d9e1e8;
  padding-top: 50px;
  padding-bottom: 20px;
}

#gallery .gallery-box {
  margin-bottom: 30px;
}

#google-map-area #map-container {
	position: relative;
  height: 580px;
  padding: 0px;
}

#contact {
  padding: 50px;
  background: #9baec8;
}

#contact .form-wrapper {
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#contact .form-title {
  margin-bottom: 50px;
}

#contact .form-control {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  line-height: 27px;
  font-size: 14px;
  color: #848484;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
}

#contact .form-control:focus {
  border-color: #282c37;
  box-shadow: none;
  outline: 0;
}

#contact .btn {
  margin: 0px;
  background-color: #d9e1e8 !important;
}

#copyright {
  background: #0b0b0b;
}

#copyright p {
  color: lightgrey;
  font-size: 12px;
  margin: 0;
}
